{% extends "base.html" %}

{% block title %}Homepage!{{ super() }}{% endblock %}
{% block body %}
<div style="text-align: center">
<h1>Recipe Homepage!</h1>
<a href='{{url_for("logout")}}'>Click here to log out!</a>
<br>
<form action="" method="post">
	<br>
	<br>
	<b>Enter a recipe to search for:</b>  <input type="text" name="recipe" />
	<br />
	<br />
	Or, you may search by ingredients below! Entering both fields will further narrow down the search.
	<br />
	<br />
	<b>Enter a list of ingredients to search for (separated by commas):</b>  <input type="text" name="ingredients" />
	<br />
	<br />
	<br>
	<input type="submit" value="Submit" class="roundbutton"/>
</form>

<style>
	button {
 		border-radius: 4px;
  		background-color:black;
 		border: none;
 		color: #fff;
  		text-align: center;
  		font-size: 16px;
  		padding: 16px;
  		width: 220px;
  		transition: all 0.5s;
  		cursor: pointer;
  		margin: 36px;
  		box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
	}

	button{
 		cursor: pointer;
 		display: inline-block;
  		position: relative;
  		transition: 0.5s;
	}

	button:after {
 		content: '»';
 		position: absolute;
 		opacity: 0;  
  		top: 14px;
  		right: -20px;
 		transition: 0.5s;
	}

	button:hover{
  		padding-right: 24px;
  		padding-left:8px;
		background-color: grey;
	}

	button:hover:after {
  		opacity: 1;
  		right: 10px;
	}
</style>

<br>
<h3>List of Favorited Recipes:</h3>
<div class="flex-parent jc-center">
	<ul>
		{% for e in favorited_recipes %}
		<div style="font-size:18px">
			<p>
				<form action = "" method ="post">
					<input type = "hidden" name = "favorite_recipe" value = "{{e}}">
					<button name = "{{e}}" class="block magenta margin-auto"  >{{e}}</button>
					<!-- style="background-color:black;color:white;width:400px;
					height:40px;" -->
				</form>
			</p>
		</div>
		<br>
			{% endfor %}
	</ul>
</div>
<br>
</div>
{% endblock %}