<h1>Recipe</h1>
<br>
<a href='{{url_for("homepage", username = session["username"])}}'>Click here to return to homepage!</a>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends "base.html" %}

{% block title %}Recipe!{{ super() }}{% endblock %}

{% block body %}
	<h3>Recipe:</h3>
<ul>
	<!-- FOR LOOP FOR DISPLAYING RECIPE INFO -->
	{% for e in favorited_recipe %}
		<div style="font-size:18px">
		{% if loop.index == 4 %}
			<ul>
				{% for item in e %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		{% elif loop.index == 6 %}
			<ol>
				{% for item in e %}
					<li>{{ item }}</li>
				{% endfor %}
			</ol>
		{% elif loop.index == 1 or loop.index == 3 or loop.index == 5 %}
			<u><h3>{{e}}</h3></u>
		{% elif loop.index == 2 %}
			<b>{{e}}</b>
		{% else %}
			<p>{{e}}</p>
		{% endif %}
			
		</div>
		<br>
	{% endfor %}
	<!-- END RECIPE INFO -->
</ul>

<style>
	.fa {
	  font-size: 50px;
	  cursor: pointer;
	  user-select: none;
	  margin: auto;
	  width: 60%;
	}
	.fa:hover {
	  color: darkblue;
	}
	.flex-parent {
		display: flex;
	  }
	  
	.jc-center {
		justify-content: center;
	}
</style>
<div class="flex-parent jc-center">
	<form action="" method="post">
		<div class="flex-parent jc-center">
			<form action = "" method ="post">
				<input type = "hidden" name = "like" value = "like">
				<i onclick="myFunction(this, '{{recipe_name}}')" class="fa fa-thumbs-down"></i><p>Click the thumbs down to un-favorite this recipe!</p>
			</form>
		</div>
	</form>
	<script>
		function myFunction(x, recipe_name ) {
			
		console.log("returned name is ", recipe_name);
		url = "un_like_recipe/" + recipe_name + " ";
		location.href = url;
		}

	</script>
</div>
{% endblock %}
